<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>비즈니스 메인 화면</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg"
                    th:onclick="|location.href='@{/business/save}'|" type="button">
                비즈니스 신청하기
            </button>
        </div>
    </div> <!--/row -->
</div> <!-- /container -->

</body>
</html>